<header class="header">
  <div class="header__content">
      <h1 class="header__title">Expense tracker</h1>
      <h3 class="header__subtitle">Track your montly income / expenses</h3>
  </div>
  <div class="header__content-right">
      <p class="header__month">
          Month: <strong>{{ month }}</strong>
      </p>
      <p
        [ngClass]="{
        'header__total header__total--positive': isPositive,
        'header__total header__total--negative': !isPositive
      }">
          Total: <strong>{{ total }} </strong>
          <button class="btn btn--dark" (click)="export()">Export</button>
      </p>
  </div>
</header>

