<section class="budget-list">
  <div class="budget-list__container">
    <div class="budget-list__content">
      <h2 class="budget-list__heading">income</h2>
      <form>
        <input class="budget-list__input" type="number" placeholder="amount" id="amount" name="amount" [(ngModel)]="amount">
        <input class="budget-list__input budget-list__input--inline" placeholder="description" type="text" id="desc" name="desc" [(ngModel)]="desc">
        <button class="btn" (click)="newIncomeItem(desc, amount)">ok</button>
      </form>
      <div *ngFor="let item of income; let i = index;" [ngClass]="(i%2 === 0)?'budget-list__items budget-list__items--darker-background':'budget-list__items'">
        <div class="budget-list__number">{{ i + 1 }}</div>
        <div class="budget-list__description">{{ item.desc }}</div>
        <div class="budget-list__amount">{{ item.amount }}</div>
        <button class="btn btn--remove" (click)="removeIncome(i, item.amount)">x</button>
      </div>
      <p class="budget-list__error">{{ errorMessageIncome }}</p>
      <p>Total: {{ incomeTotal }} </p>
    </div>
    <div class="budget-list__content">
      <h2 class="budget-list__heading">expenses</h2>
      <form>
        <input class="budget-list__input" type="number" placeholder="amount" id="amountExp" name="amountExp" [(ngModel)]="amountExp">
        <input class="budget-list__input budget-list__input--inline" placeholder="description" type="text" id="descExp" name="descExp" [(ngModel)]="descExp">
        <button class="btn" (click)="newExpensesItem(descExp, amountExp)">ok</button>
      </form>
      <div *ngFor="let item of expenses; let i = index;" [ngClass]="(i%2 === 0)?'budget-list__items budget-list__items--darker-background':'budget-list__items'">
        <div class="budget-list__number">{{ i + 1 }}</div>
        <div class="budget-list__description">{{ item.desc }}</div>
        <div class="budget-list__amount">{{ item.amount }}</div>
        <button class="btn btn--remove" (click)="removeExpenses(i, item.amount)">x</button>
      </div>
      <p class="budget-list__error">{{ errorMessageExpenses }}</p>
      <p>Total: {{ expensesTotal }} </p>
    </div>
  </div>
</section>
