// .budget-list {
// }
.budget-list__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  @media only screen and (max-width: 1000px) {
    flex-direction: column;
    justify-self: center;
    align-content: center;
  }
}

.budget-list__content {
  max-width: 35rem;
  margin: 4rem 6rem;
  padding: 4rem 6rem;
  border-radius: 2rem;
  background-color: $bg-color-light;
  box-shadow: .5rem .5rem 1rem rgba($color: #cccccc, $alpha: .5);
  @media only screen and (max-width: 1000px) {
    max-width: 100rem;
    width: 100%;
    margin: 2rem 0;
    border-radius: 0;
  }
  @media only screen and (max-width: 500px) {
    padding: 1rem 2rem;
    box-shadow: .3rem .3rem .6rem #cccccc;
  }
}
.budget-list__heading {
  margin-bottom: 1rem;
}
.budget-list__input {
  display: block;
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 1rem;
  &--inline {
      display: inline-block;
      margin-right: 1rem;
  }
}
.budget-list__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 18.5rem;
}
  .budget-list__items--darker-background {
    background-color: $bg-color-darker;
    border-radius: .5rem;
  }

.budget-list__number {
  margin-right: .5rem;
}
.budget-list__description {
  margin-right: auto;
}
.budget-list__error {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: red;
}
