.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-color-primairy;
  padding: 1rem;
}

  .header__content {
      display: flex;
      flex-direction: column;
  }

  .header__title {
      line-height: 0.8;
  }

  .header__content-right {
      align-items: flex-end;
  }

  // .header__total {
  // }
      .header__total--positive {
        color: green;
      }
      .header__total--negative {
          color: red;
      }
