.btn {
  font-family: inherit;
  font-size: inherit;
  background-color: $bg-color-primairy;
  padding: .5rem 1rem;
  border-radius: 1rem;
  border: none;
  box-shadow: .5rem .5rem 1rem #cccccc;
  transition: all .3s;
  &--remove {
    padding: .2rem .8rem;
    box-shadow: none;
    margin: .5rem;
  }
  &--dark {
    background-color: $bg-color-dark;
    color: white;
    font-size: 1.2rem;
    padding: .2rem .6rem;
  }
  &:hover {
    transform: translateY(.3rem);
  }
}
